<h3>{{viewTitle}}</h3>

<form>
    <div class="mb-3">
      <label for="isbn" class="form-label">ISBN</label>
      <input type="text" class="form-control" id="isbn" >
    </div>
    <div class="mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input type="text" class="form-control" id="titre" >
    </div>
    <div class="mb-3">
      <label for="auteur" class="form-label">Auteur</label>
      <input type="text" class="form-control" id="auteur" >
    </div>
    <div class="mb-3">
      <label for="categorie" class="form-label">Categorie</label>
      <input type="text" class="form-control" id="categorie" >
    </div>
    <button type="button" id="btnValider" class="btn btn-primary">Valider</button>
    <button type="reset" class="btn btn-danger">Annuler</button>
  </form>
  </div>
<script src="livre.js"></script>
<script src="liste-livres.js"></script>